@import "highlight/solarized_light";
@import "font-awesome";
@import "medium-editor";
@import "medium-editor-theme";
@import "variables";
@import "bootstrap-sprockets";
@import "bootstrap";
@import "jquery-ui";
@import "pick-a-color-1.2.3.min";

.navbar-brand {
  img {
    display: inline;
    margin-right: 10px;
    position: relative;
    top: -2px;
  }
}

.full-width {
  width: 100%;
}

.auto-height {
  height: auto;
}

.ufo {
  position: fixed;
  background: inline("ufo.png") no-repeat;
  width: image-width("ufo.png");
  height: image-height("ufo.png");
  top: 0;
  left: 0;
  &.-frame2 {
    background: inline("ufo2.png") no-repeat;
  }
}

.benefits {
  .fa {
    color: $green;
    font-size: 140px;
    margin-bottom: 20px;
  }
}

.footer {
  background: $navbar-default-bg;
  padding: 80px 0 40px 0;
  margin-top: 50px;
}

.jumbotron {
  h1 {
    color: $green;
  }
}

.inc-code {
  margin-top: 20px;
}
