@import "font-awesome";
@import "medium-editor";
@import "medium-editor-theme";
@import "variables";
@import "bootstrap-sprockets";
@import "bootstrap";
@import "jquery-ui";
@import "color_changer";
@import "pick-a-color-1.2.3.min";

.navbar-brand {
  img {
    display: inline;
    margin-right: 10px;
    position: relative;
    top: -2px;
  }
}

.full-width {
  width: 100%;
}

.auto-height {
  height: auto;
}

.ufo {
  position: absolute;
  background: inline("ufo.png") no-repeat;
  width: image-width("ufo.png");
  height: image-height("ufo.png");
  top: 0;
  left: 0;
}

.benefits {
  .fa {
    font-size: 140px;
    margin-bottom: 20px;
  }
}
